@using ASP_SPD_222.Services.Val;
@inject ASP_SPD_222.Services.Val.IValService valService
@{
    ViewData["Title"] = "Validation";
}
<h1 class="display-4">@ViewData["Title"]</h1>


@if ((Model.FormModelVal != null) && !(valService.ValNameString(Model.FormModelVal.UserFirstname) && valService.ValNameString(Model.FormModelVal.UserLastname) && valService.ValTelString(Model.FormModelVal.UserTel) && valService.ValMailString(Model.FormModelVal.UserMail)) )
{
    var FormModelValUserFirstname = "";
    var FormModelValUserLastname = "";
    var FormModelValUserTel = "";
    var FormModelValUserMail = "";

    @if (Model.FormModelVal?.UserFirstname != null) { FormModelValUserFirstname = Model.FormModelVal.UserFirstname; }
    else { FormModelValUserFirstname = ""; }
    @if (Model.FormModelVal?.UserLastname != null) { FormModelValUserLastname = Model.FormModelVal.UserLastname; }
    else { FormModelValUserLastname = ""; }
    @if (Model.FormModelVal?.UserTel != null) { FormModelValUserTel = Model.FormModelVal.UserTel; }
    else { FormModelValUserTel = ""; }
    @if (Model.FormModelVal?.UserMail != null) { FormModelValUserMail = Model.FormModelVal.UserMail; }
    else { FormModelValUserMail = ""; }

    <form asp-action="ProcessValForm" method="post">
        <div class="row">
            <div class="col">
                <div class="input-group mb-3">
                    <span class="input-group-text"
                          id="first-name"><i class="bi bi-person"></i></span>
                    <input type="text" class="form-control"
                           placeholder="Ім'я" aria-label="Ім'я"
                           name="user-firstname"
                           aria-describedby="first-name"
                           value="@FormModelValUserFirstname">
                </div>
            </div>
            <div class="col">
                <div class="input-group mb-3">
                    <span class="input-group-text"
                          id="last-name"><i class="bi bi-person"></i></span>
                    <input type="text" class="form-control"
                           placeholder="Прізвище" aria-label="Прі"
                           name="user-lastname"
                           aria-describedby="last-name"
                           value="@FormModelValUserLastname">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="input-group mb-3">
                    <span class="input-group-text"
                          id="tel-addon"><i class="bi bi-phone"></i></span>
                    <input type="text" class="form-control"
                           placeholder="Телефон" aria-label="Телефон"
                           name="user-tel"
                           aria-describedby="tel-addon"
                           value="@FormModelValUserTel">
                </div>
            </div>
            <div class="col">
                <div class="input-group mb-3">
                    <span class="input-group-text"
                          id="email-addon"><i class="bi bi-envelope-at"></i></span>
                    <input type="text" class="form-control"
                           placeholder="Е-пошта" aria-label="Е-пошта"
                           name="user-mail"
                           aria-describedby="email-addon"
                           value="@FormModelValUserMail">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button class="btn btn-success" type="submit">Send</button>
            </div>
        </div>
    </form>
}
else
{
    <form asp-action="ProcessValForm" method="post">
        <div class="row">
            <div class="col">
                <div class="input-group mb-3">
                    <span class="input-group-text"
                          id="first-name"><i class="bi bi-person"></i></span>
                    <input type="text" class="form-control"
                           placeholder="Ім'я" aria-label="Ім'я"
                           name="user-firstname"
                           aria-describedby="first-name">
                </div>
            </div>
            <div class="col">
                <div class="input-group mb-3">
                    <span class="input-group-text"
                          id="last-name"><i class="bi bi-person"></i></span>
                    <input type="text" class="form-control"
                           placeholder="Прізвище" aria-label="Прі"
                           name="user-lastname"
                           aria-describedby="last-name">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="input-group mb-3">
                    <span class="input-group-text"
                          id="tel-addon"><i class="bi bi-phone"></i></span>
                    <input type="text" class="form-control"
                           placeholder="Телефон" aria-label="Телефон"
                           name="user-tel"
                           aria-describedby="tel-addon">
                </div>
            </div>
            <div class="col">
                <div class="input-group mb-3">
                    <span class="input-group-text"
                          id="email-addon"><i class="bi bi-envelope-at"></i></span>
                    <input type="text" class="form-control"
                           placeholder="Е-пошта" aria-label="Е-пошта"
                           name="user-mail"
                           aria-describedby="email-addon">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button class="btn btn-success" type="submit">Send</button>
            </div>
        </div>
    </form>
}

@if (Model.FormModelVal?.UserFirstname != null)
{
    <p>
        Є передача даних форми: <br />
        @Model.FormModelVal.UserFirstname<br />
        @Model.FormModelVal.UserLastname<br />
        @Model.FormModelVal.UserTel<br />
        @Model.FormModelVal.UserMail<br />
    </p>
}

@if ( Model.FormModelVal != null )
{
    <h1>Перевірка на валідність</h1>
    if (!(valService.ValNameString(Model.FormModelVal.UserFirstname) && valService.ValNameString(Model.FormModelVal.UserLastname) && valService.ValTelString(Model.FormModelVal.UserTel) && valService.ValMailString(Model.FormModelVal.UserMail)))
    {
        <table>
            <thead>
                <tr>
                    <th>Позиція</th>
                    <th>Значення</th>
                    <th>Валідність</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Ім'я</td>
                    <td>@Model.FormModelVal.UserFirstname</td>
                    <td>@valService.ValNameString(@Model.FormModelVal.UserFirstname)</td>
                </tr>
                <tr>
                    <td>Прізвище</td>
                    <td>@Model.FormModelVal.UserLastname</td>
                    <td>@valService.ValNameString(@Model.FormModelVal.UserLastname)</td>
                </tr>
                <tr>
                    <td>Телефон</td>
                    <td>@Model.FormModelVal.UserTel</td>
                    <td>@valService.ValTelString(@Model.FormModelVal.UserTel)</td>
                </tr>
                <tr>
                    <td>E-mail</td>
                    <td>@Model.FormModelVal.UserMail</td>
                    <td>@valService.ValMailString(@Model.FormModelVal.UserMail)</td>
                </tr>
            </tbody>
        </table>
    }
    else {<h3>ВСЕ ВАЛІДНЕ</h3>}
}