@model ASP_SPD_222.Models.Home.TransferViewModel

@{
    ViewData["Title"] = "Transfer";
}
<h1 class="display-4">Передача даних. Моделі</h1>

<p>
    В ASP використовується дещо не традеційне для MVC-моделей.
    Тут це об'єкти призначені для трансферу даних між контролерами
    та представленнями.
</p>
<p>
    Властивість "Model" є тим параметром, що передається з виклику
    <code>return View(model);</code>.
</p>
<p>
    Моделі умовно поділяються за своїм призначення.<br/>
    ViewModel (PageModel) - набір даних для представлення<br />
    FormModel - дані від представлення (html-form)<br />
    Entity (DTO) - об'єкти, які відображають дані у сховищі (частіше 
    за все у БазіДанних)<br />
    <code>return View(model);</code>
</p>
<p>
    Передаа даних форм сопряжена з додатковимою проблемою повторного
    надсилання даних при оновлені сторінки. Відповідно, запит, який
    приймає дані повинен завершитись (Redirect) перенаправити.
    Це змусить браузер надіслати повторний запит без параметрів.
    Але з боку сервера слід реалізувати збереження даних між запитами.
    Для цього слугує механізм сесій.
    <b>Сесія</b> або <b>HTTP-сесія</b> - механізм збереження даних на боці
    сервера з їх прив'язуванням до запиту шляхом Cookie-параметрів.

</p>
<form asp-action="ProcessTransferForm" method="post">
    <div class="input-group">
        <span class="input-group-text">First and last name</span>
        <input name="user-firstname" type="text" aria-label="First name" class="form-control">
        <input name="user-lastname" type="text" aria-label="Last name" class="form-control">
    </div>
    <div class="input-group">
        <span class="input-group-text">Tel and mail</span>
        <input name="user-tel" type="text" aria-label="Last name" class="form-control">
        <input name="user-mail" type="text" aria-label="Last name" class="form-control">
    </div>
    <button class="btn btn-danger">Send</button>
</form>
@if(Model.formModel?.UserFirstname != null)
{
    <p>
        Є передача даних форми:
        @Model.formModel.UserFirstname
        @Model.formModel.UserLastname<br />
    </p>
}
<p></p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Параметр</th>
            <th>Значення</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Дата</td>
            <td>@Model.Date</td>
        </tr>
        <tr>
            <td>Час</td>
            <td>@Model.Time</td>
        </tr>
        <tr>
            <td>Контролер</td>
            <td>@Model.ControllerName</td>
        </tr>
        <tr>
            <td>Ім'я</td>
            <td>UserFirstname</td>
        </tr>
        <tr>
            <td>Прізвище</td>
            <td>UserLastname</td>
        </tr>
    </tbody>
</table>
